<div class="container-fluid pt-5">
  <div class="d-flex flex-column text-center mb-5 pt-5">
    <h1 class="display-4 m-0">Extrato</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 mb-5">
      <div class="row">
        <div class="col">
          <label for="dataInicial">Data inicial</label>
          <input 
            type="date"
            id="dataInicial"
            name="dataInicial"
            class="form-control"
            [(ngModel)]="filtro.dataInicial"
            #valor="ngModel"
          >
        </div>
        <div class="col">
          <label for="dataFinal">Data final</label>
          <input 
            type="date"
            id="dataFinal"
            name="dataFinal"
            class="form-control"
            [(ngModel)]="filtro.dataFinal"
            #valor="ngModel"
          >
        </div>
        <div class="col d-flex align-items-end">
          <button 
            class="btn btn-primary btn-sm mb-1 ml-2 padding-bottom-5" 
            type="button"
            (click)="getOperacoes()"
          >
            Filtrar
          </button>
          <button 
            class="btn btn-primary btn-sm mb-1 ml-2" 
            type="button"
            (click)="limparFiltro()"
          >
            Remover Filtro
          </button>
        </div>
      </div>

      <div class="timeline">
        <div class="line text-muted"></div>
        <div *ngFor="let data of operacoes">
          <div class="separator text-muted">
            <time>{{data.data}}</time>
          </div>
          <div *ngFor="let operacao of data.operacoes">
            <div class="panel card {{getCardType(operacao)}}">
              <div class="panel-heading icon">
                <i class="fa fa-{{getIconClass(operacao)}}"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{operacao.tipo}}</h5>
                <div class="row card-text">
                  <div class="col-6">
                    <strong>Horário</strong> {{operacao.data | date : 'dd/MM/yyyy' }} <br>
                    <strong>Valor</strong> R$ {{operacao.valor}}
                  </div>
                  <div class="col-6" *ngIf="operacao.origem && operacao.destino">
                    <strong>Origem</strong> {{operacao.origem}} <br>
                    <strong>Destino</strong> {{operacao.destino}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
