<div class="container-fluid pt-5">
  <div class="d-flex flex-column text-center mb-5 pt-5">
    <h1 class="display-4 m-0">Portal do administrador</h1>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 mb-5">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Nº de clientes</th>
            <th>Saldo positivo</th>
            <th>Saldo negativo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let gerente of gerentes">
            <td> {{gerente.gerenteNome}}</td>
            <td> {{gerente.numeroClientes}}</td>
            <td style="color: green;"> {{gerente.saldoPositivo | currency: 'BRL'}}</td>
            <td style="color: red;"> {{gerente.saldoNegativo | currency: 'BRL'}}</td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="gerentes.length==0">Nenhum gerente cadastrado</p>
    </div>
  </div>

  <!-- Cards
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 mb-5">
      <div class="row">
        
        <div class="card-deck" style="width: 100%">
          
          
          <div class="card border border-primary text-primary">
            <div class="card-body">
              <p class="card-text h5">
                <strong>[Gerente 01]</strong>
              </p>
              <p class="card-text h6">
                120 clientes
              </p><strong>Saldos: </strong>
                <p class="card-text h6 ">Positivos: <br><strong class="text-success">R$ 27.788,98</strong></p>
                <p class="card-text h6 ">Negativos: <br><strong class="text-danger">R$ 217.788,98</strong></p>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
  -->
</div>
