<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
      <a href="" class="navbar-brand d-block d-lg-none">
        <h1 class="m-0 display-5 text-capitalize font-italic text-white"><span class="text-primary">BANTADS</span></h1>
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
        <div class="navbar-nav mr-auto py-0" *ngIf="usuarioLogado?.perfil === 'cliente'">
          <a href="#" class="nav-item nav-link" [routerLink]="['/cliente/home']">Home</a>
          <a href="#" class="nav-item nav-link" [routerLink]="['/cliente/sacar']">Sacar</a>
          <a href="#" class="nav-item nav-link" [routerLink]="['/cliente/depositar']">Depositar</a>
          <a href="#" class="nav-item nav-link" [routerLink]="['/cliente/transferencia']">Transferência</a>
          <a href="#" class="nav-item nav-link" [routerLink]="['/cliente/consulta-extrato']">Consulta de extrato</a>
          <a href="#" class="nav-link" (click)="logout()">Logout</a>
        </div>
        <div class="navbar-nav mr-auto py-0" *ngIf="usuarioLogado?.perfil === 'gerente'">
          <a href="#" class="nav-item nav-link" [routerLink]="['/gerente/tela-inicial-gerente']">Home</a>
          <a href="#" class="nav-item nav-link" [routerLink]="['/gerente/consultar-todos']">Consultar clientes</a>
          <a href="#" class="nav-item nav-link" [routerLink]="['/gerente/consultar-tres-melhores']">Consultar os 3 melhores clientes</a>
          <a href="#" class="nav-item nav-link" [routerLink]="['/gerente/consultar-cliente']">Consultar cliente</a>
          <a href="#" class="nav-link" (click)="logout()">Logout</a>
        </div>
        <div class="navbar-nav mr-auto py-0" *ngIf="usuarioLogado?.perfil === 'admin'">
          <a href="#" class="nav-item nav-link" [routerLink]="['/administrador']">Home</a>
          <a href="#" class="nav-item nav-link" [routerLink]="['/administrador/gerentes']">Consultar gerentes</a>
          <a href="#" class="nav-item nav-link" [routerLink]="['/administrador/clientes']">Consultar clientes</a>
          <a href="#" class="nav-link" (click)="logout()">Logout</a>
        </div>
        <div class="navbar-nav mr-auto py-0" *ngIf="usuarioLogado == null">
          <a href="#" [routerLink]="['/cadastro']" class="nav-item nav-link">Cadastro</a>
          <a href="#" [routerLink]="['/login']" class="nav-item nav-link">Login</a>
        </div>
      </div>
  </nav>
</div>
