<div class="container-fluid pt-5">
  <div class="d-flex flex-column text-center mb-5 pt-5">
    <h1 class="display-4 m-0">Perfil</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 mb-5">
      <div id="success"></div>
      <div>
        <div class="row">
          <div class="col-md-6 h4">
            <p><span class="font-weight-bold">Saldo</span> R${{saldo}}</p>
          </div>
          <div class="col-md-6 h4">
            <p><span class="font-weight-bold">Gerente</span> {{gerente}}</p>
          </div>
        </div>
      </div>
      <form #formAlterarPerfil="ngForm">
        <div class="control-group">
          <label for="nome">Nome:</label>
          <input 
            type="text"
            class="form-control p-4"
            id="nome"
            name="nome"
            placeholder="Seu nome"
            [(ngModel)]="usuario.nome"
            #nome="ngModel"
            required
            pattern="^[a-zA-Z\s]+$"
          />
          <div 
            *ngIf="nome.invalid && (nome.dirty || nome.touched)" 
            class="alert alert-danger">
            <div [hidden]="!nome.errors?.['required']">Por favor, preencha seu nome</div>
            <div [hidden]="!nome.errors?.['pattern']">Números e caracteres especiais não são permitidos</div>
          </div>
        </div>
        <div class="control-group">
          <label for="name">E-mail:</label>
          <input
            type="email"
            class="form-control p-4"
            id="email"
            name="email"
            placeholder="Seu e-mail"
            [(ngModel)]="usuario.email"
            #email="ngModel"
            required
            email
            disabled
          />
          <div 
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger">
            <div [hidden]="!email.errors?.['required']">Por favor, preencha seu e-mail</div>
            <div [hidden]="!email.errors?.['email']">Por favor, digite um e-mail válido (ex: abc@example.com)</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="cpf">CPF:</label>
            <input 
              type="text"
              class="form-control p-4"
              id="cpf"
              name="cpf"
              placeholder="CPF"
              [(ngModel)]="usuario.cpf"
              #cpf="ngModel"
              mask="XXX.XXX.XXX-XX"
              disabled
            />
          </div>
          <div class="col">
            <label for="telefone">Telefone:</label>
            <input 
              type="text"
              class="form-control p-4"
              id="telefone"
              name="telefone"
              placeholder="Seu telefone"
              [(ngModel)]="usuario.telefone"
              #telefone="ngModel"
              mask="(XX) XXXXX-XXXX"
              required 
            />
            <div 
              *ngIf="telefone.invalid && (telefone.dirty || telefone.touched)" 
              class="alert alert-danger">
              <div [hidden]="!telefone.errors?.['required']">Por favor, preencha seu telefone</div>
              <div [hidden]="!telefone.errors?.['mask']">Por favor, preencha seu telefone</div>
            </div>
          </div>
          <div class="col">
            <label for="salario">Salário:</label>
            <input 
              type="text"
              class="form-control p-4"
              id="salario"
              name="salario"
              placeholder="Seu salário"
              [(ngModel)]="usuario.salario"
              #salario="ngModel"
              prefix="R$ " mask="separator.2" thousandSeparator="."
              required 
            />
            <div 
              *ngIf="salario.invalid && (salario.dirty || salario.touched)"
              class="alert alert-danger">
              <div [hidden]="!salario.errors?.['required']">Por favor, preencha seu salário</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="cep">CEP:</label>
            <input 
              type="text"
              class="form-control p-4"
              id="cep"
              name="cep"
              placeholder="Seu CEP"
              [(ngModel)]="endereco.cep"
              #cep="ngModel"
              mask="XXXXX-XXX"
              required
            />
            <div 
              *ngIf="cep.invalid && (cep.dirty || cep.touched)" 
              class="alert alert-danger">
              <div [hidden]="!cep.errors?.['required']">Por favor, preencha seu CEP</div>
              <div [hidden]="!cep.errors?.['mask']">Por favor, preencha seu CEP</div>
            </div>
          </div>
          <div class="col text-center align-self-center">
            <button 
              class="btn btn-primary py-2 px-5"
              type="button"
              (click)="buscaEndereco()"
            >
              Pesquisar endereço
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <label for="numero">Número:</label>
            <input 
              type="number"
              placeholder="Número"
              class="form-control p-4"
              id="numero"
              name="numero"
              [(ngModel)]="endereco.numero"
              #numero="ngModel"
              required
              min="1"
            >
            <div 
              *ngIf="numero.invalid && (numero.dirty || numero.touched)" 
              class="alert alert-danger">
              <div [hidden]="!numero.errors?.['required']">Por favor, preencha o número do endereço</div>
              <div [hidden]="!numero.errors?.['min']">Por favor, preencha um número positivo</div>
            </div>
          </div>
          <div class="col-10">
            <label for="rua">Rua:</label>
            <input 
              type="text"
              placeholder="Rua"
              class="form-control p-4"
              id="rua"
              name="rua"
              [(ngModel)]="endereco.rua"
              #rua="ngModel"
              required
              readonly
              >
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <label for="estado">Estado:</label>
            <input 
              type="text"
              placeholder="Estado"
              class="form-control p-4"
              id="estado"
              name="estado"
              [(ngModel)]="endereco.estado"
              #estado="ngModel"
              required
              readonly
            >
          </div>
          <div class="col">
            <label for="cidade">Cidade:</label>
            <input 
              type="text"
              placeholder="Cidade"
              class="form-control p-4"
              id="cidade"
              name="cidade"
              [(ngModel)]="endereco.cidade"
              #cidade="ngModel"
              required
              readonly
            >
          </div>
          <div class="col">
            <label for="bairro">Bairro:</label>
            <input 
              type="text"
              placeholder="Bairro"
              class="form-control p-4"
              id="bairro"
              name="bairro"
              [(ngModel)]="endereco.bairro"
              #bairro="ngModel"
              required
              readonly
            >
          </div>
        </div>
        <div>
          <button
            class="btn btn-primary py-3 px-5"
            type="submit"
            (click)="alterarPerfil()"
          >
            Atualizar
          </button>
          <button
            class="btn btn-secondary py-3 px-5 ml-5"
            type="submit"
            [routerLink]="['/cliente/home']"
          >
            Voltar a tela inicial
          </button>
        </div>
      </form>
      </div>
  </div>
</div>
